* {
  margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #283643;
  overflow: hidden;
}

.main {
  /*height: 100%;*/
  /*width: 100%;*/
  margin-left: 310px; /* Same as the width of the sidebar */
  padding: 0px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -220px; /* the bottom margin is the negative value of the footer's height */
  position: relative;
}
.lower, .push{
  height: 220px; /* .push must be the same height as .footer */
  position: relative;
}
.lower{
  background-color: #182633;
  box-shadow: 0px 20px 20px 15px black;
  border-top: 4px solid;
  border-top-color: #404e5d;
  box-sizing: border-box;
  margin: 0;
  /*padding-left: 20px;*/
  opacity: 0.9;
  /*margin-left: 310px;*/
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  /*display: inline-block;*/
  top: -100px;
  left:0;
}

.axisCustom line{
  stroke: #757575;
}

.axisCustom path{
  stroke: #757575;
}

.axisCustom text{
  fill: #ff6732;
  mix-blend-mode: screen;
  font-weight: bold;
  /*font-size: 12px;*/
  opacity: 0.75;
} 

.btn-floating{
  position: absolute;
  /*top: 0;*/
  /*right: 0;*/
  /*float: right;*/
  margin: 10px 10px 10px 0px;
  /*margin-left: 20px;*/
  /*margin-bottom: 0px;*/
}

div.tooltip-bars {
  position: absolute;
  /*text-align: center;*/
  /*width: 60px;*/
  /*height: 28px;*/
  /*padding: 2px;*/
  /*font: 12px sans-serif;*/
  /*background: lightsteelblue;*/
  /*border: 0px;*/
  /*border-radius: 8px;*/
  pointer-events: none;
}

@media screen and (orientation:portrait) { height: 100vh;
  width: 100vw; }
@media screen and (orientation:landscape) {height: 100vh;
  width: 100vw; }

